[*.{js,jsx,ts,tsx}]
indent_style = space                #缩进风格：空格
indent_size = 2                     #缩进大小2
end_of_line = lf                    #换行符lf
trim_trailing_whitespace = true     #是否删除行尾的空格
insert_final_newline = true         #是否在文件的最后插入一个空行
max_line_length = 100               #一行最大宽度
